{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
	<!-- 这个是滑动css -->
	<!-- <link rel="stylesheet" type="text/css" href="css/ws_move.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/active.css' %}">
	<style type="text/css">
	html{
		background: #D1D1D1;
	}
	/* .all_page_padding {
	    2016年5月13日11:53:22
	    padding-bottom: 20%;
	} */
	.ws_act_choose_page1 {
	    height: auto;
	    background-size: 100% 100%;
	}
	.all_page_padding {
	    padding-top: 0;
	}
	.all_photo_hd{
		padding-bottom: 0.1em;
	}
	</style>

	 <script type="text/javascript">
    	parent.window.document.getElementById("we_paly").style.display='none';
    	parent.window.document.getElementById("ophoto_all").style.display='none';
    	parent.window.document.getElementById("erweima").style.display='none';

    	parent.window.document.getElementById("i_agree").style.display='block';
    	parent.window.document.getElementById("go_photo").style.display='none';

    	parent.window.document.getElementById("upimg").style.display='none';
    	// 有返回键
    	parent.window.document.getElementById("back_icons").style.display='block';
    </script>
</head>
<body>
	<div >
			<div class="ws_act_choose_page1" style="height:100%">

				<div class="all_page_padding"  style="overflow: scroll;height:88.8%">
					<div class="all_photo_hd">
				    	<img src="{% static 'img/photo_hd.png' %}" alt="">
					</div>
					<!-- <div class="icons_two">
						<img src="img/back.png" alt="">
						<img src="img/music.png" alt="">
					</div> -->
					<div class="ws_act_choose_page1_txt ws_act_choose_page1_txt2">
						<div class="ws_act_choose_page1_txt_h3"><strong>活动细则</strong></div>
						<div class="ws_act_choose_page1_txt_bd">1、“至活力一刻”评比仅限参与了屈臣氏中国尊巴炫舞大赛的屈臣氏中国在职员工凭员工号参加，参赛者提交照片时，须如实填写该员工的员工号、姓名，每位员工仅能用一个微信账号参与本次活动且仅能上传一张活动照片；</div>
						<div class="ws_act_choose_page1_txt_bd">2、上传照片要求：照片需在参赛视频录制现场拍摄，且体现出为照片中人物正在参赛跳尊巴；</div>
						<div class="ws_act_choose_page1_txt_bd">3、参赛者上传照片后可按提示分享至朋友圈邀请亲朋好友为自己点赞，每个微信用户只能对同一张照片点赞一次；</div>
						<div class="ws_act_choose_page1_txt_bd">4、对于点赞数最高的40张照片，公司将于活动时间截止后进行员工信息及照片审核，如上传者提供的员工资料有误或照片不符合第2点要求的 ， 将会被取消获奖资格，并顺延至按点赞数排序的下一位参赛者获得；</div>
						<div class="ws_act_choose_page1_txt_bd">5、若合资格获奖者出现点赞数相同的情况 ，公司将在6月24日前在点赞数相同的员工中通过系统随机抽奖决定最终获奖名单；</div>
						<div class="ws_act_choose_page1_txt_bd">6、获奖名单将在2016年7月4日通过公司内部邮件公布；</div>
						<div class="ws_act_choose_page1_txt_bd">7、现金券的使用方式及期限详见券上印刷说明；</div>
						<div class="ws_act_choose_page1_txt_bd">8、上传照片至本互动投票平台即视为已阅读并同意本活动细则。</div>
						<!-- <div class="ws_act_choose_page1_txt_bd"9.上传照片至本互动投票平台即视为已阅读并同意本活动细则。</div> -->
					</div>
					<!-- <div id='i_agree' class="ws_act_choose_page1_btn">
						我已阅读并同意
					</div> -->
				</div>	
			</div>
			
		</div>

		<script src="{% static 'js/zepto.min.js' %}"></script>

		<script type="text/javascript">
			function button_i_agree() {
                    window.location.href='{% url 'photo_up' %}';
			};
			// 返回键目录页
		function go_list(){
		 	window.location.href="{% url 'list' %}"
		}
		</script>
</body>
</html>
