{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ws_main.css' %}">
	<style type="text/css">
	
	</style>
	 <script type="text/javascript">
    	parent.window.document.getElementById("we_paly").style.display='none';
    </script>
</head>
<body>
	<!-- 音乐 -->
	<!-- <div class="music_icon music_icon_move">
		<div class="music_icon_inner">
			 <audio id="musicfx" loop="loop" autoplay="autoplay">
                <source src="img/music.mp3" type="audio/mpeg">
            </audio>
		</div>
	</div> -->
	<!-- main -->
<!-- 	<div class="index_music"></div> -->
	<div class="watson_ad">
		
	</div>
    <script type="text/javascript" src="{% static 'js/zepto.min.js' %}"></script>
	<script type="text/javascript">
		setTimeout(function(){
                window.location.href='{% url "list" %}'
		},3000)
		


	</script>
</body>
</html>

   
