{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
	<!-- 这个是滑动css -->
	<!-- <link rel="stylesheet" type="text/css" href="css/ws_move.css"> -->
	<style type="text/css">
	.new_pic{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.new_pic img{
		width: 100%;
		height: auto;
	}
	</style>
</head>
<body>
	<div class="new_pic">
		<img src="{% static 'img/123456.jpg' %}" alt="">
	</div>
</body>
</html>