{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/active.css' %}">
    <style>
	.ws_act_choose_page1 {
	    height: auto;
	    background-size: 100% 100%;
	}


    </style>
	
</head>
<body>
	<div class="ws_act_choose_page2  ws_act_choose_page1">

		<div class="all_page_padding all_page_padding2">
				<div class="all_photo_hd">
				                   <!--  <img src="{% static 'img/photo_hd.png' %}" alt=""> -->
				</div>
				<!-- <div class="icons_two">
				                    <img src="{% static 'img/back.png' %}" alt="">
				                    <img src="{% static 'img/music.png' %}" alt="">
					</div> -->
				
				<div class="all_page_padding_inner_o">
					<div class="all_page_padding_inner_bg">
						
					</div>

					<!-- 2016-05-11 cbq -->
					<div id='new_tuo' class="all_page_padding_inner_content_img_big" style="display: none"></div>
					<div class="all_page_padding_inner after">
						<div class="all_page_padding_inner_content" id="only_photo">
							
						<!-- 2016-05-11 cbq end-->	
						
							
						</div>
					</div>
				</div>
				<!-- 2016-05-10 cbq -->
				<div class="all_page_padding_inner_o_bottom bottom">
						<!-- <img class="no1" src="img/pho_left_.png" alt=""> -->
						<a href="{% url 'photo_alls' %}" class="no1"></a>
                        <img class="no2" id="ws_zan" src="{% static 'img/pho_middle.png' %}" alt="">
						<a href="javasript:void(0)" id="i_play" class="no3"></a>
						<!-- <img class="no3" src="img/pho_right_.png" alt=""> -->
				</div>
				

			</div>
		</div>

<script src="{% static 'js/zepto.min.js' %}"></script>
<script type="text/javascript">
 $(document).ready(function(){
 		var height = $(window).height();
    	$(".ws_act_choose_page1").css({
    		'min-height': height,
    	});

		var nowid=sessionStorage.getItem( 'cli_uerid' );
			// console.log(nowid);
			$.ajax({
            		url: 'http://test2.huocc.com/voting/'+nowid+'/',
            		type: 'GET',
            		dataType: 'json',
            		success:function(result){
            			// alert(1111)
            			// console.log( typeof result);
            			console.log(result["url"]);

       
            			// var data= eval("("+result+")");
            			var h='';
					
								
								// console.log(result)
								h+='<div class="all_page_padding_inner_content_img"><img src='+result['url']+' alt="" id="img"></div>'
								h+='<div class="all_page_padding_inner_content_txt">'
								h+='	<div class="all_page_padding_inner_content_txt_hd">编号：<span>'+result['id']+'</span></div>'
								h+='	<div class="all_page_padding_inner_content_txt_bd">'
								h+='		<div class="all_page_padding_inner_content_txt_bd_left">'
								h+='			<div class="all_page_padding_inner_content_txt_bd_left_p">排名</div>'
								h+='			<div class="all_page_padding_inner_content_txt_bd_left_n">'+result['ranking']+'</div>'
								h+='		</div>'
								h+='		<div class="all_page_padding_inner_content_txt_bd_right">'
								h+='			<div class="all_page_padding_inner_content_txt_bd_left_p">点赞数</div>'
								h+='			<div class="all_page_padding_inner_content_txt_bd_left_n" id="omyzan">'+result['polls']+'</div>'
								h+='		</div>'
								h+='	</div>'
								h+='</div>'

						b='<img src='+result['url']+' alt="" id="img">'
						$('#new_tuo').html(b);
						
						
            			$('#only_photo').html(h);
            		},
            		error:function(){

            		}
            	});


		// 点赞
		var nowZAN=$('#omyzan').html()
		$('#ws_zan').click(function(event) {
			console.log(nowid);
			$.ajax({
            		url: 'http://test2.huocc.com/voting/'+nowid+'/vote/',
            		type: 'POST',
            		success:function(result){
            			console.log(result['ret'])
            			if(result['ret']=='2'){
            				alert('你已经投过票了')
            			}else if(result['ret']=='0'){
            				nowZAN=nowZAN+1;
            			}
            		},
            		error:function(){

            		}
            	});

		});

		$("#i_play").click(function(event) {
			$.ajax({
            		url: 'http://test2.huocc.com/voting/uploaded/',
            		type: 'GET',
            		success:function(result){
            			console.log(result['ret'])
            			if(result['ret']=='1'){
            				alert(alert('你已经玩过了'))
            			}
            			window.location.href="{% url 'photo_alls' %}"
            		},
            		error:function(){

            		}
            	});
		});

		})	
</script>

<!-- 2016-05-11 cbq -->
<script type="text/javascript">
	$(document).on('click','.all_page_padding_inner_content_img img',function(event) {
		/* Act on the event */
		$(".all_page_padding_inner_content_img").css({
			display: 'none'
		});
		$(".all_page_padding_inner_content_img_big").css({
			display: 'block'
		});
		$(".all_page_padding_inner").addClass('after');
	});
	$(document).on('click','.all_page_padding_inner_content_img_big img',function(event) {
		/* Act on the event */
		$(".all_page_padding_inner_content_img_big").css({
			display: 'none'
		});
		$(".all_page_padding_inner_content_img").css({
			display: 'block'
		});
		$(".all_page_padding_inner").removeClass('after');

	});
</script>
<!-- 2016-05-11 cbq end-->
</body>
</html>
