{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
  
    <style>
		
		/*	#wrapper{
				-webkit-overflow-scrolling:touch;
				overflow-scrolling:touch;
				overflow:auto;
				    width: 100%;
    position: absolute;
    height: 100%;
			}*/
    </style>
    <script type="text/javascript">
    	parent.window.document.getElementById("we_paly").style.display='block';
    	parent.window.document.getElementById("ophoto_all").style.display='block';
    	parent.window.document.getElementById("erweima").style.display='none';
    	 // 页面跳转
function go_choose2(){
 	window.location.href="{% url 'active_choose2' %}"
}

function go_all_inner(){
		window.location.href="{% url 'photo_alls_inner' %}"
}
    </script>
</head>
<body >
	




</body>
</html>
