{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/active.css' %}">
    <style>
    .ws_act_choose_page1 {
	    height: auto;
	    background-size: 100% 100%;
	}
	.all_page_padding_inner_content .all_page_padding_inner_content_img{
		height: 15.1em;

		overflow: hidden;
	}
    </style>
	 <script type="text/javascript">
	 // 存下当前页面标示供分享用
 		sessionStorage.setItem( 'photo_des', "photo_alls_inner" ); 

	 
    	parent.window.document.getElementById("we_paly").style.display='none';
    	parent.window.document.getElementById("ophoto_all").style.display='none';
    	parent.window.document.getElementById("erweima").style.display='none';

    	parent.window.document.getElementById("go_photo").style.display='none';
    	parent.window.document.getElementById("i_agree").style.display='none';

    	parent.window.document.getElementById("upimg").style.display='none';

    	// parent.window.document.getElementById("Gradate_Place").innerHTML='';
    	// parent.window.document.getElementById("upimg").style.display='none';



    	// 有返回键
    	parent.window.document.getElementById("back_icons").style.display='block';
    	function sofs(){
    		window.location.href="{% url 'photo_alls_inner' %}"
    	}

    	// 返回键目录页
		function go_list(){
		 	window.location.href="{% url 'list' %}"
		}
    </script>
</head>
<body>
	<div class="ws_act_choose_page2  ws_act_choose_page1">

		<div class="all_page_padding all_page_padding2">
				<div class="all_photo_hd">
				    <img src="{% static 'img/photo_hd.png' %}" alt="">
				</div>
				<!-- <div class="icons_two">
				                    <img src="{% static 'img/back.png' %}" alt="">
				                    <img src="{% static 'img/music.png' %}" alt="">
					</div> -->
				
				<div class="all_page_padding_inner_o">
					<div class="all_page_padding_inner_bg">
					</div>

					<!-- 2016-05-11 cbq -->
					<div id='new_tuo' class="all_page_padding_inner_content_img_big" style="display: none"></div>
					<div class="all_page_padding_inner">
						<div class="all_page_padding_inner_content" id="only_photo">
							
						<!-- 2016-05-11 cbq end-->

						</div>
					</div>
				</div>
				<!-- 2016-05-10 cbq -->
				<div class="all_page_padding_inner_o_bottom bottom">
						<!-- <img class="no1" src="img/pho_left_.png" alt=""> {% url 'photo_alls' %}-->
						<a   href="javasript:void(0)" id="okokok" class="no1"></a>
                        <img class="no2" id="ws_zan" src="{% static 'img/pho_middle.png' %}" alt="">
						<a href="javasript:void(0)" id="i_play" class="no3"></a>
						<!-- <img class="no3" src="img/pho_right_.png" alt=""> -->
				</div>
				

			</div>
		</div>

<script src="{% static 'js/zepto.min.js' %}"></script>

<script type="text/javascript">
 $(document).ready(function(){
 		


 		var height = $(window).height();
    	$(".ws_act_choose_page1").css({
    		'min-height': height,
    	});

    	

    	// 在返回值的前面添加零，位数为四
			function pad(num, n) {  
			    var len = num.toString().length;  
			    while(len < n) {  
			        num = "0" + num;  
			        len++; 
			    }  
			    return num;  
			}

			// 拿到id
		var nowid=sessionStorage.getItem( 'cli_uerid' );
		if( sessionStorage.getItem( 'my_up' )=='lesgo'){
			nowid=sessionStorage.getItem( 'sucess_up_id' );
		}
			// console.log(nowid);
			$.ajax({
            		url: '/voting/'+nowid+'/',
            		type: 'GET',
            		dataType: 'json',
            		success:function(result){
            			console.log(1111)
            			console.log(result);
            			// alert(1111)
            			// console.log( typeof result);
            			console.log(result["url"]);

       
            			// var data= eval("("+result+")");
            			var h='';
								var str=result['id'];
								
								// console.log(result)
								h+='<div class="all_page_padding_inner_content_img"><img src='+result['url']+' alt="" id="img"></div>'
								h+='<div class="all_page_padding_inner_content_txt">'
								h+='	<div class="all_page_padding_inner_content_txt_hd">编号：<span>'+pad(str,4)+'</span></div>'
								h+='	<div class="all_page_padding_inner_content_txt_bd">'
								h+='		<div class="all_page_padding_inner_content_txt_bd_left">'
								h+='			<div class="all_page_padding_inner_content_txt_bd_left_p">排名</div>'
								h+='			<div class="all_page_padding_inner_content_txt_bd_left_n">'+result['ranking']+'</div>'
								h+='		</div>'
								h+='		<div class="all_page_padding_inner_content_txt_bd_right">'
								h+='			<div class="all_page_padding_inner_content_txt_bd_left_p">点赞数</div>'
								h+='			<div class="all_page_padding_inner_content_txt_bd_left_n" id="omyzan">'+result['polls']+'</div>'
								h+='		</div>'
								h+='	</div>'
								h+='</div>'

						b='<img src='+result['url']+' alt="" id="img">'
						$('#new_tuo').html(b);
						
						
            			$('#only_photo').html(h);
            			// sessionStorage.clear( );
            			// 数据拿完后清除
            			// sessionStorage.removeItem( 'cli_uerid' );
            		},
            		error:function(err){
            			console.log(typeof err.status);
            			if(err.status=404){
            				alert("编号不存在")
            				window.location.href="{% url 'photo_alls' %}"
            			}
            		}
            	});


		// 点赞
		
		$(document).on('click','#ws_zan',function(){
			var nowZAN=$('#omyzan').html()
			// console.log(nowid);
			$.ajax({
            		url: '/voting/'+nowid+'/vote/',
            		type: 'POST',
            		success:function(result){
            			// console.log(result['ret'])
            			if(result['ret']=='2'){
            				alert('你已赞过这照片，请赞一下其他照片吧！')
            			}else if(result['ret']=='0'){
            				nowZAN=parseInt(nowZAN);
            				nowZAN=nowZAN+1;
            				$('#omyzan').html(nowZAN);



            			}
            		},
            		error:function(){

            		}
            	});

		});


		$(document).on('click','#i_play',function(){
			$.ajax({
            		url: '/voting/uploaded/',
            		type: 'GET',
            		success:function(result){
            			console.log(typeof result['ret'])
            			if(result['ret']==1){
            				alert('你已发布照片！')
                      window.location.href="{% url 'photo_alls' %}"
                      //存点赞的数量和当前id的值
                      sessionStorage.setItem( 'dianzan_id_val',$('#omyzan').html() );
            				sessionStorage.setItem( 'dianzan_id',nowid);

            			// 离开页面后删除分享
 						sessionStorage.removeItem( 'photo_des' );

 						// 离开页面后清除
 						sessionStorage.removeItem( 'cli_uerid' );

 						// 可以刷洗标示
 						sessionStorage.setItem('isshua','ohyes')
            			}else if(result['ret']==0){
                        window.location.href="{% url 'active_choose2' %}"
                        // 离开页面后删除分享
 						sessionStorage.removeItem( 'photo_des' );

 						// 离开页面后清除
 						sessionStorage.removeItem( 'cli_uerid' );

                  }
            		
            		},
            		error:function(){

            		}
            	});
		});


$(document).on('click','#okokok',function() {
    		// alert(222)
    		  window.location.href="{% url 'photo_alls' %}";
    		   sessionStorage.setItem( 'dianzan_id_val',$('#omyzan').html() );
            	sessionStorage.setItem( 'dianzan_id',nowid);


            	// 离开页面后删除分享
 				sessionStorage.removeItem( 'photo_des' );

 				// 离开后清除当前id
 				sessionStorage.removeItem( 'cli_uerid' );

 				// 可以刷洗标示
 				sessionStorage.setItem('isshua','ohyes')
    		  //setTimeout(function(){
    		  //	parent.window.fnsgo();
    		  //}, 3000)
    		
    	});
		})	
</script>

<!-- 2016-05-11 cbq -->
<script type="text/javascript">
	$(document).on('click','.all_page_padding_inner_content_img img',function(event) {
		/* Act on the event */
		$(".all_page_padding_inner_content_img").css({
			display: 'none'
		});
		$(".all_page_padding_inner_content_img_big").css({
			display: 'block'
		});
		$(".all_page_padding_inner").addClass('after');
	});
	$(document).on('click','.all_page_padding_inner_content_img_big img',function(event) {
		/* Act on the event */
		$(".all_page_padding_inner_content_img_big").css({
			display: 'none'
		});
		$(".all_page_padding_inner_content_img").css({
			display: 'block'
		});
		$(".all_page_padding_inner").removeClass('after');

	});
</script>
<!-- 2016-05-11 cbq end-->
</body>
</html>
