{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/active.css' %}">
</head>
<body>
	<div class="ws_act_choose_page2  ws_act_choose_page1 ws_act_photo_all_01">

		<div class="all_page_padding all_page_padding2">
				<div class="all_photo_hd only_photo_hd">
                    <img src="{% static 'img/photo_hd.png' %}" alt="">
				</div>
				<!-- <div class="icons_two">
						<img src="img/back.png" alt="">
						<img src="img/music.png" alt="">
					</div> -->

				<div class="ws_act_choose_page2_search">
                    <img src="{% static 'img/active_txt.png' %}" alt="">
					<div class="ws_act_choose_page2_search_inner">
						<div class="ws_act_choose_page2_search_out">
						<div class="ws_act_choose_page2_search_out_input">
							<input type="text" placeholder="请输入搜索编号">
                            <img src="{% static 'img/ss.png' %}" alt="">
						</div>
					</div>
					</div>
					
				</div>

				<!-- 2016-05-10 cbq start-->
				<div class="photo_all">
					<div class="photo_all_top">
						<div class="photo_all_hd">
							<ul>
								<li class="photo_active select" id="Gradate_Place_li" tabName="rank">按名次排列</li>
								<li id="Time_Arrangement_li" tabName="time">按时间排列</li>
							</ul>
						</div>
					</div> 
					<!-- <div class="photo_all_inner photo_all_inner_left"> -->
						<!-- <div class="photo_all_hd">
							<ul>
								<li class="photo_active select" id="Gradate_Place_li">按名次排列</li>
								<li id="Time_Arrangement_li">按时间排列</li>
							</ul>
						</div>  -->
					<div class="photo_all_inner_middle">
						<div class="photo_all_bd">
							<ul id="Gradate_Place">
								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span class="ws_use_id">001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>

								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span class="ws_use_id">002</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>

								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>003</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>

								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>

								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>

								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>



								
							</ul>

							<!-- 按时间排序 -->

							<ul id="Time_Arrangement" style="display:none;">
								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">02</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>

								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>

								<li>
									<div class="photo_all_bd_li_inner">
										<div class="photo_all_bd_pic">
											<div class="photo_all_bd_pic_jiao">01</div>
											<a href="javascript:void(0)"><img src="img/photo_tu1.jpg" alt=""></a>
										</div>

										<div class="photo_all_bd_pic_txt">
											<div class="photo_all_bd_pic_txt_tt">
												<img src="img/ttt.jpg" alt="">
											</div>
											<div class="photo_all_bd_pic_txt_two">
												<div class="photo_all_bd_pic_txt_two_num">编号：<span>001</span></div>
												<div class="photo_all_bd_pic_txt_two_zan">点赞：<span>3999</span></div>
											</div>
										</div>
									</div>
								</li>
								
							</ul>
						</div>
					</div>
					<div class="photo_all_bottom">
						</div>
				</div>
				<!-- 2016-05-11 cbq end-->
				<div id="we_paly" class="ws_act_choose_page2_btn">
                    <img src="{% static 'img/photo_place.png' %}" alt="">
				</div>

			</div>
		</div>

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        var range = 10;             //距下边界长度/单位px
        var elemt = 500;            //插入元素高度/单位px
        var maxnum = 20;            //设置加载最多次数
        var num = 1;
        var totalheight = 0; 

        $.ajax({
            		url: 'http://test2.huocc.com/voting/pullboard/hot/1/9/',
            		type: 'GET',
            		dataType: 'json',
            		success:function(result){
            			// console.log( typeof result);
            			// console.log(result);
            			// var data= eval("("+result+")");
						$.each(result, function(i, item) {
								console.log(item.id)
						});

            			
            		},
            		error:function(){

            		}
	            	})
	            	


        // 默认值是按名次排名
        var table_type='rank';
        // var main = $("#content");                     //主体元素
        $(window).scroll(function(){

            var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
            // console.log("滚动条到顶部的垂直高度: "+$(document).scrollTop());
            // console.log("页面的文档高度 ："+$(document).height());
            // console.log('浏览器的高度：'+$(window).height());
            totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
            if(($(document).height()-range) <= totalheight  && num != maxnum) {
            	console.log(123)

            	// 到底部后触发ajax

            	//首先判断是那个一类型
            	if(table_type=='rank'){

            		$.ajax({
            		url: 'http://test2.huocc.com/voting/pullboard/hot/1/9/',
            		type: 'GET',
            		dataType: 'json',
            		success:function(result){
            			console.log( typeof result);
            			console.log(result);
            		},
            		error:function(){

            		}
	            	})
	            	.done(function() {
	            		console.log("success");
	            	})
	            	.fail(function() {
	            		console.log("error");
	            	})
            	}else if(table_type=='time'){

            		$.ajax({
            		url: 'http://test2.huocc.com/voting/pullboard/hot/19/10/',
            		type: 'GET',
            		dataType: 'json',
	            	})
	            	.done(function() {
	            		console.log("success");
	            	})
	            	.fail(function() {
	            		console.log("error");
	            	})
            	}
            	       	
            	
                // num++;
            }
        });




// 点击图片显示调到相应的详情页
$(document).on('click',$(".photo_all_bd>ul>li"),function(event) {
	// 获取图片的编号

	 var picID=$(this).find('.ws_use_id').html();
	 console.log('编号为：'+picID);
	 console.log($(this));
	$.ajax({
		url: 'http://test2.huocc.com/voting/001/',
		type: 'GET',
		dataType: 'json',
		success:function(result){
			console.log(result)
		}
	})
	.done(function(result) {
		console.log("success");
		console.log(x)
	})
	.fail(function() {
		console.log("error");
	})
	.always(function() {
		console.log("complete");
	});
	
});
   


 // 页面跳转
 $('#we_paly').click(function(event) {
 	window.location.href="{% url 'active_choose2' %}"
 });

/* 2016-05-10 cbq */
	$("#Gradate_Place_li").click(function(event) {
		// 获取当前类型
		table_type=$("#Gradate_Place_li").attr('tabName');
		console.log(table_type);


		/* Act on the event */
		$(this).addClass('photo_active');
		$("#Time_Arrangement_li").removeClass('photo_active');
		$("#Gradate_Place").css({
			display: 'block'
		});
		$("#Time_Arrangement").css({
			display: 'none'
		});
		$(".photo_all .photo_all_top").css({
background: 'url({% static "img/photo_bg_top.png" %}) repeat-y top center',
			'background-size': '100% 100%'
		});
		$(".photo_all .photo_all_inner_middle").css({
background: 'url({% static 'img/photo_bg_middle.png' %}) repeat-y top center',
			'background-size': '100% auto'
		});
		
	});
	$("#Time_Arrangement_li").click(function(event) {
		table_type=$("#Time_Arrangement_li").attr('tabName');
		console.log(table_type);
		/* Act on the event */
		$(this).addClass('photo_active');
		$("#Gradate_Place_li").removeClass('photo_active');
		$("#Gradate_Place").css({
			display:'none'
		});
		$("#Time_Arrangement").css({
			display: 'block'
		});
		$(".photo_all .photo_all_top").css({
background: 'url({% static 'img/photo_bg_top2.png' %}) repeat-y top center',
			'background-size': '100% 100%'
		});
		$(".photo_all .photo_all_inner_middle").css({
background: 'url({% static 'img/photo_bg_middle2.png' %}) repeat-y top center',
			'background-size': '100% auto'
		});
		
	})
 });  



</script>
</body>
</html>
